<div class="row">

    
    <div class="col-sm"></div>
    <div class="col-5">
        <h1>Registration</h1>
        <div class="rounded">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>

            <div class="row">
                <div class="col"></div>
                <div class="col"><button>Register</button></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="col-sm"></div>
</div>