input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #d3b0aa;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    color: white;
}

.rounded {
    border-radius: 5px;
    background-color: #e6e2dd;
    padding: 20px;
    width:100%;
    margin-top: 30px;   
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #d3b0aa;
}