<div class="row">
    <div class="col-sm"></div>
    <div class="col-5">
        <h1>Registracija</h1>
        <div class="rounded">
            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email.." [(ngModel)]="email" (input)="checkEmail()">
            </div>
            <div *ngIf="emptyEmail" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaš e-mail</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="name">Ime</label>
                <input type="text" id="name" name="name" placeholder="Ime.." [(ngModel)]="name" (input)="checkName()">
            </div>
            <div *ngIf="emptyName" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaše ime</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="surname">Prezime</label>
                <input type="text" id="surname" name="surname" placeholder="Prezime.." [(ngModel)]="surname" (input)="checkSurname()">
            </div>
            <div *ngIf="emptySurname" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaše prezime</label>
            </div>


            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="address">Adresa stanovanja</label>
                <input type="text" id="address" name="address" placeholder="Adresa stanovanja.." [(ngModel)]="address" (input)="checkAddress()">
            </div>
            <div *ngIf="emptyAddress" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vašu adresu stanovanja</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="city">Grad</label>
                <input type="text" id="city" name="city" placeholder="Grad.." [(ngModel)]="city" (input)="checkCity()">
            </div>
            <div *ngIf="emptyCity" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite grad</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="country">Država</label>
                <input type="text" id="country" name="country" placeholder="Država.." [(ngModel)]="country" (input)="checkCountry()">
            </div>
            <div *ngIf="emptyCountry" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite državu</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="phoneNumber">Broj telefona</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Broj telefona.." [(ngModel)]="phoneNumber" (input)="checkPhone()">
            </div>
            <div *ngIf="emptyPhone" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaš broj telefona</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="jmbg">JMBG</label>
                <input type="text" id="jmbg" name="jmbg" placeholder="Jmbg.." [(ngModel)]="jmbg" (input)="checkJmbg()">
            </div>
            <div *ngIf="emptyJmbg" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaš JMBG</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <fieldset>
                    <div class="some-class">
                        <input type="radio" class="radio" name="x" value="Male" id="y" [(ngModel)]="gender" (change)="checkGender()" />
                        <label class="label1" for="y">Muški pol</label>
                        <input type="radio" class="radio" name="x" value="Female" id="z" [(ngModel)]="gender" (change)="checkGender()"/>
                        <label class="label1" for="z">Ženski pol</label>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="emptyGender" class="row" style="margin: -15px 0;">
                <label class="validation">Izaberite pol</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="profession">Zanimanje</label>
                <input type="text" id="profession" name="profession" placeholder="Zanimanje.." [(ngModel)]="profession" (input)="checkProfession()">
            </div>
            <div *ngIf="emptyProfession" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite Vaše zanimanje</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="info">Informacije o firmi/fakultetu/školi</label>
                <textarea rows="3" [(ngModel)]="info" (input)="checkInfo()"></textarea>
            </div>
            <div *ngIf="emptyInfo" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite informacije o firmi/fakultetu/školi</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="password">Lozinka</label>
                <input type="password" id="password" name="password" placeholder="Lozinka.." [(ngModel)]="password" (input)="checkPassword()">
            </div>
            <div *ngIf="emptyPassword" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite lozinku</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="confirmPassword">Potvrdite lozinku</label>
                <input type="password" id="confirmPassword" name="confirmPassword"
                    placeholder="Potvrdite lozinku.." [(ngModel)]="confirmPassword" (input)="checkConfirmPassword()">
            </div>
            <div *ngIf="emptyConfirmPassword" class="row" style="margin: -15px 0;">
                <label class="validation">Uneste potvrdu lozinke</label>
            </div>
            <div *ngIf="passwordsNotMatches" class="row" style="margin: -15px 0;">
                <label class="validation">Lozinke se ne poklapaju</label>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col"><button (click)="register()">Registruj se</button></div>
                <div class="col"></div>
            </div>
        </div>
    </div>

<div class="col-sm"></div>
</div>