.rounded {
    border-radius: 5px;
    background-color: #e6e2dd;
    padding: 20px;
    width: 90%;
    margin-top: 20px;
    
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #d3b0aa;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #d3b0aa;
    height: 1px;
}

.labelClass{
    margin: 7px -4px;
}

input[type=text], textarea
{
    width: 100%;
    padding: 9px 15px;
    margin: -2px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   background-color: #d3b0aa;
}