<div>
    <div *ngIf="role == 'ROLE_REGISTEREDUSER'" class="row">

        <div class="col-6" style="margin-top: 10px; margin-left: 10px;">
            <mat-form-field appearance="fill">
                <mat-label>Sortiraj po</mat-label>
                <mat-select [(ngModel)]="sortBy" (selectionChange)="sortByChanged()">
                    <mat-option value="Name">Naziv</mat-option>
                    <mat-option value="City">Grad</mat-option>
                    <mat-option value="Rate">Ocena</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-radio-group (change)="sortTypeChanged()" [(ngModel)]="sortType" style="margin-left: 20px;"
                aria-label="Select an option">
                <mat-radio-button value="Descending">Opadajuće</mat-radio-button>
                <mat-radio-button value="Ascending">Rastuće</mat-radio-button>
            </mat-radio-group>
        </div>


    </div>
    <div class="row">
        <div *ngFor="let center of centers" class="col-4">
            <div class="rounded">
                <h4>{{center.name}}</h4>
                <p><i>{{center.description}}</i></p>
                <p>Adresa: {{center.address}}, {{center.city}}</p>
                <p>Ocena: {{center.rate}}</p>
            </div>

        </div>

    </div>
</div>