<div class="row">
    <div class="col-sm"></div>
    <div class="col-4">
        <h1>Prijava</h1>
        <div class="rounded">
            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email.." [(ngModel)]="email" (input)="checkEmail()">
            </div>
            <div *ngIf="emptyEmail" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite vaš e-mail</label>
            </div>

            <div class="row" style="margin: 7px 0;">
                <label class="labelClass" for="password">Lozinka</label>
                <input type="password" id="password" name="password" placeholder="Lozinka.." [(ngModel)]="password" (input)="checkPassword()">
            </div>
            <div *ngIf="emptyPassword" class="row" style="margin: -15px 0;">
                <label class="validation">Unesite lozinku</label>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col"><button (click)="login()">Uloguj se</button></div>
                <div class="col"></div>
            </div>
        </div>
    </div>

<div class="col-sm"></div>
</div>