.img1 {
    border-radius: 8px;
    width: 700px;
    height: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

.img2 {
    border-radius: 8px;
    width: 700px;
    height: 350px;
    margin-top: 30px;
    margin-left: 30px;
}

.img3 {
    border-radius: 8px;
    height: 220px;
    width: 700px;
    margin-top: 30px;
    margin-left: 30px;
}