<div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="rounded">
                    <h2>Ko sve može dati krv?</h2>
                    <p>Davalac krvi može biti svaka zdrava, odrasla osoba,
                        starosti od 18-65 godina, kod koje se lekarskim pregledom i proverom krvne slike, odnosno nivoa
                        hemoglobina, utvrdi da davanje krvi neće
                        ugroziti ni nju, niti osobu kojoj bi se ta krv primenila.</p>
                    <p>Davalac treba da ima više od 50kg, telesnu temperaturu manju od 37°C, puls između 50 i 100
                        otkucaja u
                        minuti.</p>
                    <p>Interval između davanja krvi je 3 meseca za muškarce i 4 meseca za žene.</p>
                </div>
            </div>
            <div class="row">
                <img class="img2" src="assets/slika7.jpg" alt="Paris">
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <img class="img1" src="assets/slika6.jpg" alt="Paris">
            </div>
            <div class="row">
                <div class="rounded1">
                    <h2>Savet o ponašanju pre i posle davanja krvi</h2>
                    <p>Preporučuje se da osoba pre davanja krvi bude odmorna, da je prethodne noći spavala dovoljno,
                        da je uzela lagani obrok i izvesnu količinu tečnosti (najbolje 4 čaše vode 1-2 sata pre davanja
                        krvi).</p>
                    <p>Posle davanja krvi, zavoj na pregibu lakta ne treba skidati sledeća dva sata.
                        Tog dana treba da se unosi nešto više tečnosti nego uobičajeno (za 3-4 čaše vode).
                        Mogu se obavljati uobičajene aktivnosti. Treba izbegavati teži fizički rad ili vežbe kao što su
                        podizanje tereta, bildovanje, guranje teških predmeta, najmanje 4 sata nakon davanja krvi.
                        Izbegavati žurbu, pušenje bar 2 sata, alkohol bar 8 sati, dugotrajno stajanje, pregrejane
                        prostorije.
                        Tog dana ne kretati kao vozač na dug put.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="rounded2">
                <h2>Zašto postati dobrovoljni davalac krvi?</h2>
                <p>
                    Jedini izvor krvi je ljudski organizam i jedini način da se dobije jeste dobrovoljna donacija.
                    Zbog toga krv nema cenu, a nezamenljiv je lek i pomoć u najtežim trenucima.
                    Donirana krv poboljšava kvalitet života nekih pacijenata, poput obolelih od anemije koji se brzo
                    zamaraju,
                    pate od osećaja pritiska u grudima i često nisu u stanju da obave ni najjednostavnije radnje.
                    Dobrovoljno davanje krvi nije samo humani gest kojim pomažete drugima. To je dobar način da
                    pomognete i sebi.
                </p>
                <p>Zašto je dobro povremeno dati krv?</p>
                <ul>
                    <li>Podmlađujete se</li>
                    <li>Čuvate svoje kardiovaskularno zdravlje</li>
                    <li>Smanjujete rizik od dobijanja karcinoma</li>
                    <li>Ubrzavate sagorevanje kalorija</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <img class="img3" src="assets/slika10.jpg" alt="Paris">
        </div>
    </div>
</div>